*{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    color: white;    
    height: 60px;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.781);
    position: relative;
    bottom: 0;
    width: 100%
}

.footer p{
    float: right;
    margin-bottom: 0;
    margin-right: 5%;
}

.App {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(238, 247, 247);
}

.App h1 {
    margin-top: 3%;
    align-self: center;
}

ul{
    list-style-type: none;
    margin-bottom: 5%;
}

li{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}

.todo-item {
    min-width: 30rem;
    background-color: rgb(253, 253, 253);
    margin-bottom: 2rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    border-radius: 30px;
    width: 50%;
    word-wrap: break-word;
}

.todo-item p{
    margin-left: 2%;
    color: rgba(0, 0, 0, 0.829);
}

.remove-todo-btn {
   transition-duration: 0.5s;
   font-size: 50%;
   height: fit-content;
   width: fit-content;
   padding: none;
   align-self: center;
   aspect-ratio: 1;
   border-radius: 50%;
   display: grid;
   place-items: center;
   margin-right: 2%;
   border-style: none;
   background-color: rgba(255, 0, 0, 0.541);
}

.remove-todo-btn:hover {
    transition-duration: 0.5s;
    background-color: red;
}

.remove-todo-btn:active{
    background-color: rgb(126, 0, 0);
    transform: translateY(0.1rem);

}

.submit-form {
    border-style: none;
    border-radius: 30px;
    overflow: hidden;
    min-width: 30rem;
    background-color: aliceblue;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    width: 51%;
    word-wrap: break-word;
}

.input-field {
    border: none;
    padding-left: 2%;
    width: 95%;
}

.input-field:focus{
    outline: none;
}

.add-todo-btn {
    transition-duration: 0.5s;
    border-style: none;
    padding: 1% 1%;
    margin: none;
    background-color: rgba(9, 255, 0, 0.596);
    color: white;
    width: 5%;
    height: fit-content;
}

.add-todo-btn:hover {
    transition-duration: 0.5s;
    background-color: rgb(9, 255, 0);
}

.add-todo-btn:active {
    transition-duration: 0.1s;
    background-color: rgb(5, 141, 0);
}

.remove-all-btn {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    padding: 1rem;
    border-style: none;
    border-radius: 30px;
    background-color: rgb(253, 253, 253);
}

.remove-all-btn:hover {
    transition-duration: 0.5s;
    background-color: rgba(224, 224, 224, 0.589);
}

.remove-all-btn:active {
    background-color: rgb(110, 110, 110);
    transform: translateY(0.1rem);
}